@media all and (max-width:767px) {}
@media all and (min-width:768px) and (max-width:991px) {}
@media all and (min-width:991px) {}
.navlogo{
    width: 38px;
    height: 38px;
}
.spacer{
    width: 180px;
    height: 100%;
    background-color: aqua;
}
ul {
    list-style: none;
}



i{
    width: 500px;
    height: 500px;
}
/* 



.nav-font {
    font-size: 16px;
    color: #000;
    margin: 0 10px;
    padding: 0 15px;
}

i {
    font-size: 20px;
}

.navlistone {
    height: 100%;
} */